.template-index {
    p {
        line-height: 1.6;
    }
    >.row-1 {
        position: relative;
        text-shadow: 2px 2px 10px black;
        color: white;
        padding: 20px;
        text-align: center;
        line-height: 1.2;
        text-transform: uppercase;
        border-bottom: 20px solid $color__i-blue;
        @media screen and (min-width: $tabwidth){
            padding: 4% 40% 17% 8%;
            border: none;
        }
        .background-image {
            position: absolute;
            background-image: url('images/wyoming2.jpg');
            background-position: center;
            background-size: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: -3;
        }
        .triangle-1 {
            position: absolute;
            z-index: -1;
            top: 52.2%;
            left: 0;
            width: 60%;
            display: none;
            @media screen and (min-width: $tabwidth){
                display: block;
            }
            img {
                display: block;
                width: 100%;
            }
        }
        .triangle-2 {
            position: absolute;
            z-index: -1;
            bottom: 47.7%;
            right: 0;
            width: 40%;
            display: none;
            @media screen and (min-width: $tabwidth){
                display: block;
            }
            img {
                display: block;
                width: 100%;
            }
        }
        .title {
            h1 {
                line-height: 1;
                margin: 0;
                font-size: 30px;
                @media screen and (min-width: $midwidth){
                    font-size: 50px;
                    letter-spacing: 15px;
                }
                @media screen and (min-width: $deskwidth){
                    font-size: 70px;
                }
            }
        }
        .date {
            margin: 20px 0 0 0;
            font-size: 20px;
            @media screen and (min-width: $midwidth){
                font-size: 30px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 35px;
            }

        }
        .location-1 {
            margin: 20px 0 0 0;
            font-size: 25px;
            @media screen and (min-width: $midwidth){
                font-size: 35px;
                letter-spacing: 4px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 40px;
                margin: 30px 0 0 0;
            }

        }
        .location-2 {
            font-size: 18px;
            @media screen and (min-width: $midwidth){
                font-size: 25px;
                letter-spacing: 4px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 30px;
            }
        }
    }
    >.row-2.copy {
        padding: 20px;
        position: relative;
        color: $color__i-blue;
        line-height: 1;
        font-size: 18px;
        @media screen and (min-width: $tabwidth){
            padding: 2% 5% 5% 40%;
        }
        @media screen and (min-width: $deskwidth){
            font-size: 24px;
        }
        .background-image {
            position: absolute;
            display: none;
            z-index: -2;
            bottom: 0;
            left: 0;
            width: 45%;
            @media screen and (min-width: $tabwidth){
                display: block;
            }
            img {
                display: block;
                width: 100%;
                
            }
        }
        h2 {
            margin: 0;
            color: $color__i-blue;
            font-size: 30px;
            @media screen and (min-width: $midwidth){
                font-size: 50px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 70px;
            }   
        }
        p {
            margin: 5px 0 0 0;
        }
    }
    .mobile-image {
        @media screen and (min-width: $tabwidth){
            display: none;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    >.row-3.copy, >.row-4.copy {
        padding: 20px;
        position: relative;
        color: $color__i-blue;
        font-size: 18px;
        line-height: 1;
        @media screen and (min-width: $tabwidth){
            padding: 2% 45% 5% 5%;
        }
        @media screen and (min-width: $deskwidth){
            font-size: 24px;
        }
        .background-image {
            display: none;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 55%;
            @media screen and (min-width: $tabwidth){
                display: block;
            }
            img {
                display: block;
                width: 100%;
                
            }
        }
        h2 {
            margin: 0;
            color: $color__i-blue;
            font-size: 30px;
            @media screen and (min-width: $midwidth){
                font-size: 50px;
            }
            @media screen and (min-width: $deskwidth){
                font-size: 70px;
            }   
        }
        h3 {
            margin: 0;
            color: $color__i-blue;
            font-size: 25px;
            margin: 5px 0 0 0;
        }
        p {
            margin: 5px 0 0 0;
        }
    }
    >.row-4.copy {
        @media screen and (min-width: $tabwidth){
            padding: 2% 5% 5% 5%;
        }
        @media screen and (min-width: $midwidth){
            padding: 2% 15% 5% 5%;
        }
    }
}